/*  */

.App{
  text-align: center;
  font-size: large;
}


.center{
  display: flex;
  justify-content: center;
}



.particles{
  position: fixed;
  top:0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  /* z-index: inherit; */
  z-index: -1;
}